# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#властивості конфіги
src/main/resources/hibernate.cfg.xml
src/main/resources/project.properties
src/main/resources/todowebservlet-firebase-adminsdk-fbsvc-92467d9ab6.json
/target/
target/
*.json
!package*.json